.deck-svg {
  display: block;
  height: 10rem;
  margin: 0.5rem;
  position: absolute;
  top: 13%;
  right: 5%;
}
.card-list {
  display: flex;
  flex-direction: row;
  padding-left: 8rem;
  height: 12rem;
}

.card-img {
  display: flex;
  margin-left: -10rem;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.game-button {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  min-height: 2.5rem;
  width: 4rem;
  border-top: none;
  border-left: none;
  border-radius: 3px;
  outline: none;
  margin: 0.5rem;
  justify-content: center;
  &:active {
    border: none;
  }
}
.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__buttons {
    display: flex;
    justify-content: center;
  }
}

.message-container {
  display: flex;
  width: 6rem;
  padding: 1rem;
  border-radius: 3px;
  color: rgb(7, 58, 7);
  background-color: whitesmoke;
  margin: 0 0 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: center;
}

.score {
  display: flex;
  justify-content: start;
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
}
.score-number {
  margin-left: 4px;
}
