.home-button {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0.5rem;
  min-height: 5rem;
  width: 9rem;
  border-top: none;
  border-left: none;
  border-radius: 3px;
  outline: none;
  transition: background-color 0.5s;
  &:hover {
    background-color: rgb(7, 58, 7);
    color: white;
  }
  &:active {
    border: none;
  }
}

.start-container {
  display: flex;
  justify-content: center;
  padding: 8rem;
}
