.button-start-play-group {
  display: flex;
  padding-top: 6px;
  align-self: start;
  justify-content: space-around;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 2.5rem;
  width: 7rem;
  border-top: none;
  border-left: none;
  border-radius: 3px;
  outline: none;
  margin: 1rem;
}

.button-start-play-group:active {
  border: none;
}

.button-submit {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 2rem;
  width: 4rem;
  border-radius: 3px;
  border-top: none;
  border-left: none;
  display: flex;
  align-self: center;
  padding: 4px;
  justify-content: space-around;
  margin-top: 1rem;
}

.button-submit:active {
  border: none;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  height: 2rem;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
  color: white;
}

.username__field {
  margin-left: 8px;
}

.username-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 10rem;
  margin: 1rem;
}

.usernames__title {
  font-size: 1.5rem;
  color: white;
  margin: 1rem 1rem 0 1rem;
}
