.game-container {
  &--show {
    display: block;
  }
  &--hidden {
    display: none;
  }
}

.start-container {
  &--show {
    display: block;
  }
  &--hidden {
    display: none;
  }
}

.message-container {
  &--show {
    display: block;
  }
  &--hidden {
    display: none;
  }
}
