html {
  font-size: 16px;
}

.form-container--hidden {
  display: none;
}

.form-container--show {
  display: block;
}

.game-container--show {
  display: block;
}

.game-container--hidden {
  display: none;
}

.start-container--show {
  display: block;
}

.start-container--hidden {
  display: none;
}

.message-container--show {
  display: block;
}

.message-container--hidden {
  display: none;
}

.deck-svg {
  display: block;
  height: 12rem;
}
